html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

.align-center{
    text-align: center;
}

.vertical-center{
    position: relative;
    top: 100px; 
}

.block{
    display: block;
}

#back-color{
    position: absolute;
    top : 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
}

#bgImage{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

img#wizard-hat{
    margin: 0px auto;
    padding: 50px;
    width: 200px;
    height: 200px;
}


div#weather{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}


#login-form input{
    width: 200px;
    height: 35px;
    border: none;
    text-align: center;
}

#login-form button{
    width: 100px;
    height: 35px;
    border: none;
    background-color: slateblue;
    color: white;
}

h2#clock{
    color: wheat;
    font-size: 80px;
}

h1#greeting{
    font-family: 'Harry Potter', sans-serif;          
    color:beige;
}

#todo-form input{
    margin-top: 10px;
    width: 306px;
    height: 35px;
    border: none;
    text-align: center;
    background-color: none;
}

ul{
    width: 309px;
    height: auto;
    margin: 10px auto;
    padding: 0px;
    list-style: none;
    border-radius: 10px;
    background: rgba(150, 150, 150, 0.2);
}

ul li{
    padding: 3px;
    margin: 2px auto;
}

ul li span{
    color:white;
    font-size: 15px;
    padding : 0 10px;
}

ul li button{
    border: none;
    background: none;
}

button:hover{
    cursor: pointer;
}

div#phrase{
    top: 57px;
    font-size: 15px;
    color: aliceblue;
    font-family: 'Dancing Script', cursive;
}

div#phrase span{
    display: block;
    text-align: center;
}
